@tailwind base;
@tailwind components;
@tailwind utilities;

#ul li {
  transition: 0.4s;
}

@media screen and (max-width: 37.5em) {
  #main {
    min-width: 20em;
    padding: 2em;
  }
}
@media screen and (max-width: 21.25em) {
  #main {
    min-width: 17em;
  }
}
@media screen and (max-width: 19em) {
  #main {
    min-width: 15em;
  }
}
